<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.home.pr.opendoor">
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".InjectedApplication"
                 android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".SettingsActivity"
                android:label="@string/action_settings" />
        <service
                android:name=".AdafruitUpdateService"
                android:exported="false"/>
        <service
                android:name=".AdafruitDoorStatus"
                android:exported="false" />
        <receiver
                android:name=".StatusReceiver"
                android:process=":remote" >
        </receiver>
    </application>



</manifest>
